.icon-edit{
    color: #f39c12;
    padding: 3px;
}
.icon-delete{
    color: #dd4b39;
    padding: 3px;
}
.icon-view{
    color: #00c0ef;
    padding: 3px;
}
.edit-form-control {
    border-radius: 5px;
    outline: none;
    padding: 6px 10px;
    border: 1px solid #ddd;
    font-family: "Times New Roman", serif;
    margin-bottom: 10px;
    /*box-shadow: 0 0px 1px 0px #9d9d9d;*/
    width: 100%;
}
.height-35px{
    height:35px;
}

.required:after { content:" *";color:red }

.edit-dropdown-control{
    border-radius: 4px;
    padding: 0px 10px;
    border: 1px solid #ddd;
    font-family: "Khmer OS Content";
    width: 100%;

}
.edit-form-control:focus, .edit-dropdown-control:focus{
    box-shadow: 0 0px 1px 0px #00caff;

}

.edit-container{
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 1px 0px;
    /*box-shadow: 0 0px 1px 0px #9d9d9d;*/
}
.header-container{
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ddd;
    line-height: 35px;
    padding-left: 10px;
    font-size: 20px;
    font-family:"Arial Black", arial-black, serif;
}
.content-container{
    padding: 10px;
    font-size: 16px;
}
.center{
    text-align: center;
}
.td{
    padding: 12px;
}

.edit-label{
    font-family:Freehand;
    font-size: 14px;
    margin-bottom: 5px;
}
.user-photo{
    background: white;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border:2px solid red;
    border-radius: 50px;
    padding: 3px;
    height: 50px;
}
.display-none{
    display: none;
}

.text-blue{
    color: #5498ec;
}
.text-orange{
    color: #ec760f;
}

.bokor{
    font-family: "Khmer OS Bokor",Serif;
}
.border-radius-10{
    border-radius: 10px;
}

/*https://bootsnipp.com/snippets/3knNB*/
.border-radius{
    border-radius: 5px;

}
.hide{
    display:none;
}
.pandding-2{
    padding: 6px;
}
.padding-10{
    padding: 10px;
}
.center{
    text-align: center;
}
.checkbox {
    padding-left: 20px; }
.cursor-pointer{
    cursor: pointer;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }